.sectiondiv{
    width: 50%;

    height: 800px;
    margin: 10px;
}
img{
    border-radius: 20px;
}
.image1{
    margin: 10px;
    float: left;
}
.image2{
    margin: 10px;
    float: right;
}
.image3{
    margin: 10px;
    float: left;
}
.Sectionconta{
    display: flex;
}
.button1{
  
    background-color: black;
    color: white;
    text-align: center;
}
.button2{
    
    text-align: center;
    height: 60px;
    background-color: grey;
    color: white;
}
